@font-face {
  font-family: 'Lulo-Clean';
  src: url('font/LuloClean/@font-face/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Questrial';
  src: url('font/Questrial/Questrial-Regular.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

.CSScalculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #4ecac7;
  padding: 20px;
  box-shadow: 0px 0px 10px #888888;
  max-width: 850px;
  width: 100%;
  box-sizing: border-box; /* Ensure the padding and border are included in the width */
}

.centered-heading {
  text-align: center;
  margin-bottom: 20px;
}

.centered-heading h2 {
  margin: 0;
  font-family: 'Lulo-Clean', sans-serif;
  font-weight: lighter;
  font-size: 24px;
}

.frames-container {
  display: flex;
  justify-content: space-between; /* Align frames side by side */
  flex-wrap: wrap; /* Allow the frames to wrap to the next line on smaller screens */
  gap: 10px
}

.frame {
  border: 1px solid #555555;
  background-color: #9CDDEB;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Questrial';
  letter-spacing: 1px;
  line-height: 1.5;
  width: 100%; /* Take up the full width of the container */
  max-width: 400px; /* Limit the width on larger screens */
  margin-bottom: 10px; /* Add some spacing between frames */
  box-sizing: border-box; /* Ensure the padding and border are included in the width */
  
}

.frame2 {
  border: 1px solid #555555;
  background-color: #9CDDEB;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  position: relative;
  font-family: 'Questrial';
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 10px; /* Add some spacing between frames */
  box-sizing: border-box; /* Ensure the padding and border are included in the width */
 
}


#calculate {
  display: inline-block;
  padding: 10px 20px;
  background-color: #555555;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out;
  margin-left: 10px;
}

#calculate:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#Opportunities {
  margin-top: 10px;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px #888888;
}

#Defects {
  margin-top: 10px;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #888888;
}

#DPMO,
#Defect,
#Yield,
#processSigma {
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px #888888;
  background-color: #f2f2f2;
  pointer-events: none;
  flex-shrink:1;
  flex-basis: 50%; 
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-row label {
  flex: 0 0 160px; /* Adjust the width as needed */
}

.input-row input {
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .input-row {
    flex-direction: column; /* Stack the label and input vertically */
  }

  .input-row label {
    margin-top: -10px;
    margin-bottom: -130px; /* Add spacing between label and input */
  }
  .frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px; /* Add padding between the frame content and the logo image */
    position: relative; /* Ensure the frame is relatively positioned */
  }

  .frame2 .logo-image {
    position: absolute; /* Position the logo image relative to the frame */
    bottom: -20px; /* Adjust the value as needed to position the logo image within the frame */
    margin-top: 5px; /* Add margin to create spacing between the last input box and the logo image */
  }
}


.logo-image {
  position: absolute;
  top: 93%;
  right: -40px; /* Adjust the value as needed */
  transform: translateY(-50%);
  width: 300px;
  height: auto;
}

#Titles {
  font-family: 'LuloClean', sans-serif;
}
